@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  overflow-x: hidden;
}
.body{
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(background.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #fc6a03;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
  margin-left: 10px;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {;
  position: relative;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: white;
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: #fc6a03;
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
  color: white;
  margin-top: 120px;
}
#sidebar .side-menu.top li a:hover {
  background: #fc6a03;
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px  - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: white;
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: white;
}
#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}
#content nav .nav-link:hover {
  color: #fc6a03;
}

/*VIEW DEFENDANTS*/

.styled-table {
    border-collapse: collapse;
    margin-left: 145px;
    margin-top: 72px;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 400px;
}
.styled-table thead tr {
    color: whitesmoke;
    text-align: left;
    background: #fc6a03;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #fc6a03;
}

.styled-table tbody tr:nth-of-type(even) {
  }

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid whitesmoke;
}
.styled-table tbody tr {
    font-weight: bold;
    color: whitesmoke;
}


/*CHANGE PASSWORD*/
.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
     font-family: "Times New Roman", Times, serif;
  }
 .cardStyle {
    width: 500px;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
.formTitle{
  font-weight: 600;
  margin-left: -70px;
  margin-top: -150px;
  color: whitesmoke;
  font-size: 18px;
}
.inputLabel {
  font-size: 15px;
  color: whitesmoke;
  margin-bottom: 6px;
  margin-top: 12px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: -70px;
  }

.buttonWrapper {
  color: whitesmoke;
  margin-top: 40px;
  margin-left: -170px;
    width: 30%;
    height: 40px;
    margin-left: -70px;
    display: block;
    color: #fc6a03;
    border-color: #fc6a03;
    border-radius: 4px;
    cursor: default;
  }

